.wrapper_header {
  margin-bottom: 30px;

  @include respond(md) {
    margin-top: 10px;
  }
}

.product_Item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.productImageContainer {
  position: relative;
  flex: 2;
  overflow: visible;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  margin-bottom: 8px;
  overflow: visible;

  @include respond(md) {
    aspect-ratio: 4/5;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .actionsOverlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
  }

  .actionsOverlay.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.productImage {
  object-fit: cover;
  width: 100%;
  min-height: 300px;
  transition: opacity 0.3s ease-in-out;
}

.hoverImage {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.defaultImage {
  &.hidden {
    opacity: 0;
  }
}

.productInfo {
  flex: 1;

  .productTitle {
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 4px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-transform: capitalize;

    @include respond(sm) {
      font-size: 1rem;
      margin-top: 5px;
    }
  }
}

.PriceContainer {
  display: flex;
  align-items: center;
  gap: 5px;

  .productPrice {
    margin-bottom: 4px;
    font-weight: 600;
    color: $price-color;

    @include respond(sm) {
      font-size: 1rem;
    }
  }

  .productOriginalPrice {
    text-decoration: line-through;
    color: #888;
    margin-bottom: 4px;
    font-size: 12px;
  }
}

.ProductColorsContainer {
  margin: 8px 0;
  display: flex;
  gap: 10px;

  .productColorItem {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 2px solid #888;
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      border: 2px solid var(--bg-CircleQuantity);
    }

    @include respond(sm) {
      width: 30px;
      height: 30px;
    }
  }

  .productColorImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.heartIcon {
  position: absolute;
  top: 5px;
  right: 7px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @include respond(md) {
    top: 10px;
    right: 10px;
  }

  svg {
    cursor: pointer;
    font-size: 24px;
    color: #000;
  }
}
.description {
  width: 100%;
  text-align: center;
}
