.wrapper {
  margin: 0 auto;
  position: relative;

  :global(.swiper-pagination) {
    margin-top: 20px !important;
    position: static !important;
  }

  &_productList {
    gap: 20px;
    width: 100%;
  }
}

.productImage {
  transition: all 0.3s ease-in-out;
}
.viewAll {
  @include flex-center;
  gap: 5px;
  margin-top: 20px;
}
